<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>AbeCars</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>

</head>
<body>
	<head>
    <style>
        .navbar-brand img {
            width: 50px; /* Adjust width as needed */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo17.png' %}" alt="NiceCars Logo" />
        <b><font color="red">Duxt</font><font color="#007bff">Cars</font></b>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-uppercase py-4 py-lg-0" style="margin-right: 100px;">
            <li class="nav-item ms-auto" style="margin-right: 50px;">
        <a class="nav-link" href="{% url 'store' %}"><font color="white">Buy</font></a>
    </li>
    <li class="nav-item" style="margin-right: 50px;">
        <a class="nav-link custom-link" href="{% url 'sell' %}"><font color="white">Sell</font></a>
    </li>
    <li class="nav-item  ms-auto" style="margin-right: 50px;">
        <a class="nav-link custom-link" href="{% url 'rent' %}"><font color="white">Rent</font></a>
    </li>

    <li class="nav-item">
        <a class="nav-link custom-link" href="{% url 'car_maintenance' %}"><font color="white">Car Maintenance</font></a>
    </li>
    </div>
</nav>

</div>

</nav>


     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dycpIR1fuNo7Rjey0WItUMv7F2B10+4D8U/Z4/N7I5NYXGphBaFP0EwKNV6Tni5ITJWjkjVfBo2DpvKxbIj5zg==" crossorigin="anonymous" />


	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

<br><br><br>





<!-- Footer Section -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <h2 class="footer-logo"><font color="red">Duxt</font><font color="#007bff">Cars</font></h2></font>
        </div>
        <div class="footer-links">
            <div class="social-icons">
                <a href="https://web.facebook.com/profile.php?id=61571039724467" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/abe.buxton/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/105208352/admin/page-posts/published/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/channel/UCDBge7bsaAykcHcDWc_5czw" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>
            </div>
            <ul class="footer-nav">
                <li><a href="{% url 'privacy' %}">Privacy Statement</a></li>
                <li><a href="{% url 'termsandcondition' %}">Terms and Conditions</a></li>
                <li><a href="{% url 'disclaimer' %}">Disclaimer</a></li>
               
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright © DuxtCars. All Rights Reserved 2024.</p>
            <div class="footer-logo">
               <img src="{% static 'images/logo17.png' %}" alt="Corporate Partner Logo" />
            </div>
        </div>
    </div>
</footer>

</body>
</html>
